body{
    display: block;
    background: url("./../images/bg.jpg") no-repeat fixed center;
    background-size: cover;
}
.header{
    text-align: center;
    font-size: 2em;
    margin: 5px;
}

.star{
    color: red;
}
.caption{
    vertical-align: bottom;
}
fieldset{
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
    color:white;
    padding-top: 10px;
    margin: 10px;
}
label.error{
    color: rgb(230,0,0);
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background-color: #eee;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: rgb(40,90,160);
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.currentWeatherTableHeader{
    background-color:rgb(215,115,115);
    color: white;
    height: 130px;
    padding: 10px 0px;
}
#weatherIcon{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}
ul.temperatureDiv{
    list-style: none;
    text-align: center;
    padding: 5px;
} 
.temperatureDiv{
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}
#temperature{
    font-size: 50px;
}
#unit{
    position: relative;
    top:-20px;
    font-size: 20px;
}
#lowTemp{
    color: blue;
}
#highTemp{
    color:green;
}
#next24Hours table{
    text-align: center;
}
#next24Hours td{
    height: 70px;
}
#next24Hours th{
    text-align: center;
}
.blueHeader th{
    color: white;
    background-color: rgb(40,90,160);
}
#accordIconImage{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}
.glyphicon-plus{
    color:rgb(40,90,160);
}
.hiddenRow{
    padding: 0 !important;
    height: 0 !important;
}
.hiddenDiv{
    background-color: #ddd;
    padding: 20px;
    height: 120px;
}
.hiddenDiv td{
    background-color: #ddd;
}#currentWeatherMap{
  margin: 15px;
  max-width: 100%;
  height: 425px;
  padding: 0px;
    
}
#currentWeatherTable.col-md-6{
    padding-right: 0px;
}
#currentWeatherMapOuter.col-md-6{
    padding-left: 0px;
}
@media (max-width: 978px) {
    #currentWeatherTable, #currentWeatherMapOuter{
        padding: 0px 15px !important;
    }
}
#next7days{
    background-color: rgb(35,35,45);
/*    padding: 15px;*/
}
.dailyBarIcon{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
    height: 80px;
}

.dayBar{
    height: 405px;
    background-color:red; 
    color:white;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.bigTemp{
    font-size: 2.4em;
    padding: 10px;
    line-height: 2.4;
    
}
